.cool-feedback-notice-wrapper.notice.notice-info.is-dismissible {
  padding: 5px;
  width: 65%;
  display: table;
  width: calc(100% - 10px);
  max-width: 870px;
  clear: both;
  box-sizing: border-box;
}
.cool-feedback-notice-wrapper .message_container {
  width: calc(100% - 120px);
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.cool-feedback-notice-wrapper ul li {
  float: left;
  margin: 0px 5px;
}
.clrfix {
  clear: both;
}
