.wae_btn_setting{

    position: absolute;
   
     -ms-transform: translate(120px,-30px); /* IE 9 */
  transform: translate(120px,-30px); /* Standard syntax */
    border-radius: 5px;
}

.wase_gridb_button{
     
  
  font-size: 2.5vh;
    position:relative;
  bottom: 20%;
  left:10vh;
  border-radius: 5px;
  
  border:none;
}


@media only screen and (max-width: 400px) {
  .wsae-grid-container {
  display: block;
  grid-template-columns: auto;
  grid-gap:5px;
    overflow:auto;
  padding: 5px;
  
}
.wase_gridb_button{
     
  
  font-size: 2.5vh;
    position:relative;
  bottom: 20%;
  left:13vh;
  border-radius: 5px;
  
  border:none;
}
}